---
layout: default
---
<div class='home'>
  <section class='bio type'>
    <h1>Dan Prince</h1>
    <p>
      I'm a developer travelling India and previously a postgraduate
      Computer Science student, researching immutable data and state
      synchronisation.
    </p>
    <p>
      I'm also a co-founder of
      <a href='http://astraldynamics.co.uk'>Astral Dynamics</a>,
      a software development adventure, with whom I'm currently travelling.
    </p>
    <p>
      When I'm not at a computer, I'm a keen guitarist and I occasionally
      dabble with graphic design too.
    </p>
    <h2>Contact</h2>
    <div>
      Emails to
      <a href='mailto:{{ site.email }}'>{{ site.email }}</a>.
    </div>
    <div>
      Tweet me at
      <a href='https://twitter.com/{{ site.twitter_handle }}'>@{{ site.twitter_handle }}</a>.
    </div>
    <div>
      Code on GitHub at
      <a href='https://github.com/{{ site.github_handle }}'>@{{ site.github_handle }}</a>.
    </div>
    <h2 class='page-heading'>Posts</h2>
    <ul class='post-list'>
      {% for post in site.posts %}
        <li>
          <a href='{{ post.url }}'>
            <span class='date'>{{ post.date | date: '%b %-d, %Y' }}</span>
            <span class='title'>{{ post.title}}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if site.posts.size < 1 %}
      <span>
        I haven't written any posts yet!
      </span>
    {% endif %}
  </section>
</div>
