<header class='banner'
  {% if page.image.src %}
  style='background-image: url({{page.image.src}})'
  {% else %}
  style='background-image: url({{site.image.src}})'
  {% endif %}
  >

  <div class='overlay {{ page.category }}'></div>

  <div class='left-gutter'>
    <a href='/' class='hide'>
      <div class='icon'>
        DAN<br />
        THE<br />
        DEV<br />
      </div>
    </a>
    <div class='social twitter'>
      <a href='https://twitter.com/{{ site.twitter_username }}'>
        @{{ site.twitter_username }}
      </a>
    </div>
  </div>
</header>
