---
styles:
  - /defaults.css
---
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dan Prince">
    <meta name="theme-color" content="blue">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="{{ og_type | default: 'article' }}" />
    <meta property="og:url" content="{{ pkg.url }}{{ page.url }}" />
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}

    {%- if cover -%}
    <meta property="og:image" content="{{ pkg.url }}{{ cover.url }}" />
    {%- else -%}
    <meta property="og:image" content="{{ pkg.url }}/favicon.svg" />
    {%- endif -%}

    <link rel="icon" href="/favicon.svg">
    <link rel="canonical" href="{{ pkg.url }}{{ page.url }}">
    <title>{{ title }}</title>

    {%- for style in styles -%}
      <link rel="stylesheet" href="{{ style }}">
    {%- endfor -%}
  </head>
  <body>
    {{ content }}

    {% for script in scripts %}
      <script type="module" src="{{ script }}"></script>
    {% endfor %}

    {% if bundle %}
      {% esbuild bundle %}
    {% endif %}
  </body>
</html>