<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Dan Prince" />
    <meta name="theme-color" content="#1e1e1e" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="{{ og_type | default: 'article' }}" />
    <meta property="og:url" content="{{ pkg.url }}{{ page.url }}" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}

    <title>{{ title }}</title>
    <link rel="icon" href="/favicon.svg" />
    <link href="/style.css" rel="stylesheet" />

    <!-- Make sure the theme code executes before the body so that we don't
     see a flash of the wrong theme. -->
    <script>
      let dark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      let theme = localStorage.theme || (dark ? "dark" : "light");
      let html = document.documentElement;
      html.setAttribute("data-theme", theme);
      setTheme = (theme) =>
        html.setAttribute("data-theme", (localStorage.theme = theme));
    </script>
  </head>
  <body>
    <nav>
      {% if not index %}
      <a href="/">{% include "icons/move-left.svg" %}</a>
      {% else %}
      <span></span>
      {% endif %}

      <button
        class="toggle-theme toggle-light"
        title="Light mode"
        onclick="setTheme('light')"
      >
        {% include "icons/sun.svg" %}
      </button>

      <button
        class="toggle-theme toggle-dark"
        title="Dark mode"
        onclick="setTheme('dark')"
      >
        {% include "icons/sun-moon.svg" %}
      </button>
    </nav>

    {{content}}
  </body>
</html>
