---
layout: page.html
---

<header class="post-header container">
  <a class="icon" href="/" aria-label="Home"></a>

  <h1 class="title">{{ title }}</h1>

  <div class="meta">
    {% if page.date and index != true %}
      <time class="date" datetime="{{ page.date | date: "%Y-%m-%d" }}">
        {{ page.date | date: "%b %e, %Y" }}
      </time>
    {% endif %}
  </div>
</header>

<main class="container post-content">
  {{ content }}
</main>

{% if index != true %}
  <footer class="post-footer container">
    <a class="icon" href="/"></a>
  </footer>
{% endif %}
