body {
  color: $bunker-black;
  font-family: 'Karma', serif;
  margin: 0;
  width: 100%;
}

main {
  margin: 0 auto;
  max-width: 62em;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-padding {
  padding: 1em;
}

.left-gutter {
  font-size: 1.6em;
  left: 1em;
  position: absolute;
  top: 1em;
}

.date {
  color: $nevada-grey;
}

.site-footer {
  margin-bottom: 1em;
}

img, pre {
  max-width: 100%;
}

