@import 'modules/code';

pre,
code {
  @include code;

  &.alt {
    $hue-shift: 300;
    $background: adjust-hue($mystic-grey, $hue-shift);
    $foreground: adjust-hue($atoll-blue, $hue-shift);
    @include recolor-code($background, $foreground);
  }
}

pre {
  @include code-block;
}

code {
  @include code-inline;
}

a code {
  border-bottom: solid 2px $eastern-blue;
  color: $eastern-blue;
}

