.banner {
  background-attachment: fixed;
  background-color: $mystic-grey;
  height: 13.5em;
  position: relative;
  width: 100%;

  // overlay
  .overlay {
    display: block;
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
