.icon {
  @include sans-serif;
  background: $eastern-blue;
  color: $white;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  padding: 1em;
}

.social {
  @include sans-serif;
  color: $white;
  background: $atoll-blue;
  padding: .8em 0;
  font-size: .5em;
  text-align: center;
}
