table {
  border: solid 1px $iron-grey;
  border-collapse: collapse;
}

thead, th {
  background: $concrete-grey;
  color: $nevada-grey;
}

th {
  font-weight: 400;
}

th, td {
  text-align: left;
  border: solid 1px $iron-grey;
  padding: .2em .2em;
}
