:root {
  --sans: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
  --serif: 'Georgia', 'Times New Roman', serif;
  --mono: Consolas, Menlo, Monaco, monospace;
}

body {
  font: 1.2rem/1.8 var(--serif);
  padding: 2rem 0 8em 0;
}

h2, h3, h4 {
  font-family: var(--sans);
  margin-top: 2em;
}

:focus {
  outline-color: blue;
}

.container img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.container img[width][height] {
  height: auto;
}

code {
  font-size: 1rem;
  font-family: var(--mono);
  font-weight: bold;
  white-space: nowrap;
}

.container > pre {
  margin: 2rem 0;
}

pre {
  overflow-x: auto;
  font-family: var(--mono);
}

pre code {
  white-space: inherit;
  font-weight: normal;
}

pre, pre code {
  line-height: 1.5rem;
  font-size: 1rem;
}

pre mark {
  color: inherit;
  background: transparent;
  font-weight: bold;
}

details {
  border-left: solid 4px whitesmoke;
  padding-left: 2rem;
}

kbd {
  border: solid 1px lightgray;
  font: 1rem var(--mono);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  white-space: nowrap;
}

hr {
  border: 0;
  border-top: solid 1px whitesmoke;
}

.footnotes-sep {
  margin-top: 5rem;
}

.cover {
  height: 300px;
  margin-top: 1rem;
  background-size: cover;
  background-position: center;
}

.title {
  margin-bottom: 0.5rem;
  line-height: 1.2em;
  font-size: 2.3rem;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
}

.post-header {
  font-family: var(--sans);
}

.post-footer {
  margin-top: 4rem;
  text-align: center;
}

a.icon {
  font-size: 2rem;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  text-align: center;
  display: inline-block;
  background: blue;
  color: white;
  font-weight: bold;
  font-family: var(--sans);
  text-decoration: none;
}

/* Comes before the title, don't mess up SEO. */
.icon:before {
  content: "D";
}

.permalink {
  color: lightgray;
  text-decoration: none;
  opacity: 0;
  user-select: none;
}

:hover > .permalink {
  opacity: 1;
}

a.center {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Posts list */

.post-list-item a {
  text-decoration: none;
}

.post-list-item time {
  text-align: right;
  color: gray;
  white-space: nowrap;
}

.post-list-item span {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #112;
    color: white;
  }

  .permalink { color: royalblue; }
  a { color: dodgerblue; }
  :visited { color: mediumorchid; }
  kbd { border-color: royalblue; }
  hr { border-color: royalblue; }
}

.pixelated {
  image-rendering: pixelated;
}

@media (min-width: 900px) {
  .post-content .overblown {
    max-width: 130%;
    margin-left: -15%;
  }
}

/* GitHub Light */
.token.comment { color: #6e7781; }
.token.keyword { color: #cf222e; }
.token.function { color: #8250df; }
.token.punctuation { color: #0969da; }
.token.boolean { color: #0550ae; }
.token.string, .token.string-property { color: #0a3069; }
.token.number { color: #0550ae; }
.token.operator { color: #cf222e; }
.token.parameter { color: #953800; }
.token.tag { color: #116329; }
.token.builtin { color: #0550ae; }
.token.regex { color: #0a3069; }
.token.regex-flags { color: #cf222e; }
.token.regex-source { color: #0550ae; }
.token.interpolation-punctuation { color: #0a3069; }
.token.tag .punctuation { color: #24292f; }
.token.tag .attr-name { color: #0550ae; }
.token.tag .attr-value { color: #0a3069; }
.token.tag .attr-value .punctuation { color: #0a3069; }
.token.tag .script-punctuation { color: #cf222e; }
.token.selector { color: #0550ae; }
.token.rule { color: #cf222e; }
.token.prefix.inserted { color: #2da44e; }
.token.prefix.deleted { color: #cf222e; }
.token.inserted-sign { background: #e6ffec; }
.token.deleted-sign { background: #ffebe9; }
.language-json .property { color: #0a3069; }
.language-css .property { color: #0550ae; }

@media (prefers-color-scheme: dark) {
  /* GitHub Dark */
  .token.comment { color: #8b949e; }
  .token.keyword { color: #f3766d; }
  .token.function { color: #d2a8ff; }
  .token.punctuation { color: #6daae4; }
  .token.boolean { color: #79c0ff; }
  .token.string, .token.string-property { color: #a1d2fa; }
  .token.number { color: #79c0ff; }
  .token.operator { color: #ff7b72; }
  .token.parameter { color: #ffa657; }
  .token.tag { color: #7ee787; }
  .token.builtin { color: #79c0ff; }
  .token.regex { color: #a5d6ff; }
  .token.regex-flags { color: #ff7b72; }
  .token.regex-source { color: #79c0ff; }
  .token.class-name { color: #ffa657; }
  .token.tag .punctuation { color: white; }
  .token.tag .attr-name { color: #79c0ff; }
  .token.tag .attr-value { color: #a5d6ff; }
  .token.tag .attr-value .punctuation { color: #a5d6ff; }
  .token.tag .script-punctuation { color: #ff7b72; }
  .token.selector { color: #79c0ff; }
  .token.rule { color: #ff7b72; }
  .token.inserted-sign { background: #2e9e4226; }
  .token.deleted-sign { background: #f8514926; }
  .language-json .property { color: #7ee787; }
  .language-css .property { color: #79c0ff; }
}
