:root {
  --sans: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
  --serif: 'Georgia', 'Times New Roman', serif;
  --mono: Consolas, Menlo, Monaco, monospace;
}

body {
  font: 1.2rem/1.8 var(--serif);
  padding: 2rem 0 8em 0;
}

h2, h3, h4 {
  font-family: var(--sans);
  margin-top: 2em;
}

:focus {
  outline-color: blue;
}

.container img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.container img[width][height] {
  height: auto;
}

code {
  font-size: 1rem;
  font-family: var(--mono);
  font-weight: bold;
  white-space: nowrap;
}

.container > pre {
  margin: 2rem 0;
}

pre {
  overflow-x: auto;
  font-family: var(--mono);
}

pre code {
  white-space: inherit;
  font-weight: normal;
}

pre, pre code {
  line-height: 1.5rem;
  font-size: 1rem;
}

pre mark {
  color: inherit;
  background: transparent;
  font-weight: bold;
}

details {
  border-left: solid 4px whitesmoke;
  padding-left: 2rem;
}

kbd {
  border: solid 1px lightgray;
  font: 1rem var(--mono);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  white-space: nowrap;
}

hr {
  border: 0;
  border-top: solid 1px whitesmoke;
}

.footnotes-sep {
  margin-top: 5rem;
}

.cover {
  height: 300px;
  margin-top: 1rem;
  background-size: cover;
  background-position: center;
}

.title {
  margin-bottom: 0.5rem;
  line-height: 1.2em;
  font-size: 2.3rem;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
}

.post-header {
  font-family: var(--sans);
}

.post-footer {
  margin-top: 4rem;
  text-align: center;
}

a.icon {
  font-size: 2rem;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  text-align: center;
  display: inline-block;
  background: blue;
  color: white;
  font-weight: bold;
  font-family: var(--sans);
  text-decoration: none;
}

/* Comes before the title, don't mess up SEO. */
.icon:before {
  content: "D";
}

.permalink {
  color: lightgray;
  text-decoration: none;
  opacity: 0;
  user-select: none;
}

:hover > .permalink {
  opacity: 1;
}

a.center {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.token.comment { color: darkgrey; }
.token.keyword { color: blue; }
.token.interpolation { color: blue; }
.token.number { color: blue; }
.token.attr-value { color: blue; }
.token.attr-equals { color: black; }
.token.tag .punctuation { color: blue; }
.token.prefix { user-select: none; }
.token.inserted.prefix { color: seagreen; }
.token.deleted.prefix { color: crimson; }
.language-diff .token.inserted { color: seagreen; }
.token.deleted, .token.deleted * { color: crimson !important; }
.token.unchanged { opacity: 0.5; }

/* Posts list */

.post-list-item a {
  text-decoration: none;
}

.post-list-item time {
  text-align: right;
  color: gray;
  white-space: nowrap;
}

.post-list-item span {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #112;
    color: white;
  }

  .permalink { color: royalblue; }
  a { color: dodgerblue; }
  :visited { color: mediumorchid; }
  kbd { border-color: royalblue; }
  hr { border-color: royalblue; }
  .token.comment { color: royalblue; }
  .token.keyword { color: cornflowerblue; }
  .token.interpolation { color: cornflowerblue; }
  .token.number { color: cornflowerblue; }
  .token.attr-value { color: cornflowerblue; }
  .token.tag .punctuation { color: cornflowerblue; }
}

.pixelated {
  image-rendering: pixelated;
}

@media (min-width: 900px) {
  .post-content .overblown {
    max-width: 130%;
    margin-left: -15%;
  }
}
