@mixin code {
  @include monospace;
  background: $mystic-grey;
  color: $atoll-blue;
  font-size: .7em;
}

@mixin code-block {
  border-radius: .2em;
  line-height: 1.4em;
  padding: 1em;
}

@mixin code-inline {
  font-size: .8em;
  padding: .2em;
}
