@mixin link($color: $bunker-black) {
  $line-color: rgba($color, .9);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .6) 50%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $line-color, 50%);
  background-position: 0 1em;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: $color;
  text-decoration: none;

  &:visited {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $line-color, 50%);
    color: $nevada-grey;
  }
}

@mixin strike {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .6) 50%);
  background-position: 0 .65em;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: $bunker-black;
  text-decoration: none;
}

@mixin rule {
  border: 0;
  border-top: solid 1px $iron-grey;
}

