:root {
  --font-family-display: system-ui, sans-serif;
  --font-family-serif: Karma, serif;
  --font-family-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --color-primary: #1b8cb5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #141d1f;
  font-size: 19px;
  font-family: var(--font-family-serif);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-display);
  margin-bottom: 0;
}

h4, h6 {
  font-style: italic;
}

h5, h6 {
  font-size: 19px;
  color: #888;
  font-weight: normal;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  text-rendering: optimizeLegibility;
}

blockquote {
  font-style: italic;
  color: #888;
  font-size: 20px;
  margin: 16px;
}

code {
  background: whitesmoke;
  font-size: 16px;
  font-family: var(--font-family-mono);
  padding: 3px 5px;
  border-radius: 2px;
}

pre {
  font-family: var(--font-family-mono) !important;
  font-size: 13px;
  padding: 16px;
  border-radius: 4px;
  overflow-x: scroll;
  background: white;
  border: 1px solid;
  border-color: #ddd #ddd #ccc;
  border-radius: 3px;
  width: 100%;
}

pre code {
  background: none;
  padding: 0;
  border-radius: 0;
  font-size: inherit;
}

hr {
  border: 0;
  border-bottom: solid 1px whitesmoke;
}

table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  font-family: var(--font-family-mono);
}

table code {
  font-size: inherit;
}

table th {
  vertical-align: middle;
}

table td, table th {
  border: solid 1px #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background: whitesmoke;
}

mark {
  background: #7cdcff;
}

.container {
  box-sizing: content-box;
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
}

.content img {
  max-width: 100%;
}

.content {
  position: relative;
  padding-top: 0;
}

#header {
  display: flex;
  position: relative;
  z-index: 2;
}

#header .icon {
  background: var(--color-primary);
  color: white;
  text-align: center;
  font: bold 24px/24px var(--font-family-display);
  padding: 24px;
  display: inline-block;
  text-decoration: none;
}

#header .meta {
  align-self: flex-end;
  margin-left: 16px;
}

#header .title {
  margin: 0;
  position: relative;
  bottom: -7px;
}

#header .date {
  color: grey;
  position: relative;
  bottom: -15px;
}

#header a {
  text-decoration: none;
}

#footer {
  text-align: center;
}

#footer .contact a {
  text-decoration: none;
  margin: 0 8px;
}

.heading-anchor {
  text-decoration: none;
}

.heading-anchor:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  #header {
    display: block;
  }

  #header .meta {
    margin: 0;
  }
}

.token.keyword {
  color: #d73a49;
}

.token.comment {
  color: #6a737d;
}

.token.number, .token.class-name {
  color: #005cc5;
}

.token.string {
  color: #032f62;
}

.token.function {
  color: #6f42c1;
}
